@import "tailwindcss";

@keyframes gerak-pelan {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animasi-bg {
  background-size: 400% 400%;
  animation: gerak-pelan 12s ease infinite;
}